* {
  margin: 0;
  padding: 0;
  /* font-family: Montserrat, sans-serif; */
  box-sizing: border-box;
}
body {
  /* text-align: center; */
}
/* Top container section */
.top-container {
  width: 100%;
  height: 100vh;
  background-image: url("./pngtree-glowing-rays-and-colorful-stripes-merge-along-a-dark-path-image_13574903.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
}

.text-title {
  color: #fff;
  padding: 4rem;
  text-align: center;
}
.text-title h1 {
  font-size: 5rem;
  font-family: "Sacramento", cursive;
}
.text-title h1 span {
  color: blueviolet;
}
.text-title h2 {
  font-size: 2rem;
}
/* Profile section */
.profile {
  text-align: center;
}

.profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.profile h2 {
  margin-top: 1.5rem;
  font-size: 3rem;
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
}
.intro {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

hr {
  border: dotted #eaf6f6 6px;
  width: 8%;
  margin: 100px auto;
  border-bottom: none;
}
